
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select, button, input {
	font: inherit;
}

:root {
  --title-header-height: 60px;
  --bright-grey: rgb(202, 202, 202);
  --dark-grey: rgb(148, 148, 148);
  --text-color: rgb(241, 241, 241);
  --disabled-text-color: rgb(102, 102, 102);
}





body {
  background-color: rgb(22, 22, 22);

  color: var(--text-color);
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-variant-numeric: oldstyle-nums;
  font-weight: 400;
  font-size: 20px;
  hyphens: auto;
  word-break: break-word;
  accent-color: rgb(209, 177, 33);
}

a:link {
  color: var(--text-color);
}

a:visited {
  color: var(--bright-grey);
}

a[href]:hover {
  color: rgb(182, 182, 182);
}

a[href]:active {
  color: rgb(182, 182, 182);
}

a[href=""], a:not([href]) {
  color: var(--dark-grey);
}



#center-div {
  box-sizing: border-box;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  min-height: calc(100dvh - var(--title-header-height));
  border-left: 16px solid rgb(40, 45, 39);
  border-right: 16px solid rgb(40, 45, 39);
  display: flex;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

#messages-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  /* margin-top: 100px; */
  flex-basis: calc(100dvh - var(--title-header-height));
  /* scroll-behavior: smooth; */
}

.story-msg {
  align-self: flex-start;
  border: 3px solid rgb(47, 136, 5);
  background-color: rgb(17, 27, 17);
  text-align: justify;
  margin-right: 20%;
  z-index: 3;
  position: relative;
}

.action-msg {
  align-self: flex-end;
  border: 3px solid rgb(209, 177, 33);
  background-color: rgb(32, 28, 22);
  text-align: right;
  margin-left: 20%;
  z-index: 3;
  position: relative;
}

#editing-messages-div > .action-msg, #editing-messages-div > .story-msg {
  border-style: dotted;
  cursor: text;
}

#editing-messages-div > .action-msg:focus {
  outline: none !important;
  border-color: rgb(231, 203, 80);
}

#editing-messages-div > .story-msg:focus {
  outline: none !important;
  border-color: rgb(64, 173, 13);
}

#normal-messages-div, #editing-messages-div, #next-action-div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#normal-messages-div {
  margin-top: 0px;
  margin-bottom: 0px;
}

#next-action-div {
  margin-top: 10px;
  margin-bottom: 0px;
  min-height: 164px;
  flex-shrink: 0;
}


.story-msg:hover {
  border-color: rgb(64, 173, 13);
}

#next-action-div > .action-msg:hover, #editing-messages-div > .action-msg:hover {
  border-color: rgb(231, 203, 80);
}

#next-action-div > .action-msg {
  cursor: pointer;
}

#next-action-div:has(+ hr) {
  margin: 0px;
  min-height: 0px;
}

#editing-messages-div {
  flex-basis: 164px;
  flex-shrink: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

#editing-messages-div:empty {
  margin: 0px;
  flex-basis: 0px;
}

.story-msg, .action-msg {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  min-width: 20px;
  white-space: pre-wrap;
  scroll-margin-top: 100px;
  scroll-margin-bottom: 100px;
  min-height: 32px;
}

hr {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  max-height: 0px;
  color: var(--bright-grey);
  border-style:dashed;
  margin-top: 4px;
  margin-bottom: 4px;
}

#control-panel {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 0px;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 5;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-y: hidden;
}

#messages-div::before {
  content: "";
  background: linear-gradient(
    rgb(22, 22, 22), 
    rgba(22, 22, 22, 0) 60px,
    rgba(22, 22, 22, 0) calc(100% - 60px),
    rgb(22, 22, 22));
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

#title-header {
  height: var(--title-header-height);
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  display: flex;
  background-color: rgb(56, 52, 47);
}

#title-header > p {
  color: var(--text-color);
  
  font-weight: 600;
  
  
  font-size: 30px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  margin: auto;
  overflow: hidden;
  align-self: center;
  padding-right: var(--title-header-height);
  text-align: center;
  white-space: nowrap;
}

#title-header > a {
  width: var(--title-header-height);
}








#story-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;

  height: 100%;
}

.story-info {
  border-bottom: 4px solid rgb(40, 45, 39);
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.story-info:last-child {
  border-bottom-width: 16px;
}

#logo {
  max-width: 512px;
  width: calc(100% - 10px);
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

#logo-div {
  width: var(--title-header-height);
  height: var(--title-header-height);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px;
}

#center-div > #logo {
  padding: 30px;
  box-sizing: border-box;
}

[contenteditable="plaintext-only"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--text-color);
  animation: flickerAnimation 5s infinite;
  animation-timing-function: ease;
}

@keyframes flickerAnimation {
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}

#title-header > p[contenteditable="plaintext-only"]:focus {
  outline: none !important;
}

*::selection {
  background-color: rgb(209, 177, 33);
}

#directory-settings {
  border-bottom: 16px solid rgb(40, 45, 39);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#messages-div > :first-child {
  margin-top: calc(100dvh - var(--title-header-height) - 317px);
}

#open-button {
  color: var(--text-color);
  font-size:60px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 27px;
  user-select: none;
  line-height: 58px;
}

#open-button:hover {
  color: rgb(182, 182, 182);
}

#sidebar {
  box-sizing: border-box;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 6;
  top: 0;
  right: -350px;
  background-color: rgb(74, 70, 58);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 35px;
  padding-left: 32px;
}

#sidebar > a {
  color: var(--text-color);
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  white-space: pre;
  cursor: pointer;
}

#sidebar > div > label, #sidebar > div > input[type="checkbox"] {
  color: var(--text-color);
  padding: 8px 8px 8px 8px;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  white-space: pre;
  cursor: pointer;
}

#sidebar > div > input[type="checkbox"] {
  margin: 0px 0px 0px 4px;
  min-height: initial;
  height: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

#register-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 40px;
  width: 350px
}

#login-form > input[type="submit"], #register-form > input[type="submit"] {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;
}

#username {
  font-weight: 600;
}

#sidebar a:hover {
  color: rgb(182, 182, 182);
}

#sidebar > #close-button {
  font-size: 50px;
  position: absolute;
  padding-top: 5px;
  top: 0;
  right: 23px;
  user-select: none;
  line-height: 48px;
}

#about-text {
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  text-align: justify;
  margin: 30px;
  margin-bottom: auto;
}

#notification-div {
  z-index: 4;
  left: 0px;
  right: 0px;
  position: absolute;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
  pointer-events: none;
  margin-top: 30px;
}

.info-notif, .warning-notif {
  color: var(--text-color);
  text-align: justify;
  
  
  
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  
  transition: opacity 1.0s;
}

.info-notif {
  border: 3px solid rgb(243, 220, 11);
  background-color: rgb(167, 124, 8);
}

.warning-notif {
  border: 3px solid rgb(243, 38, 11);
  background-color: rgb(167, 8, 8);
}

button, select, input {
  color: var(--text-color);
  text-align: justify;
  background-color: rgb(29, 32, 20);
  border: 3px solid rgb(128, 157, 19);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  outline: none; 
}

select {
  min-height: 48px;
}

input[type="submit"] {
  cursor: pointer
}

#control-panel > button {
  padding-bottom: 20px;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 10px;
  transition: margin-top 0.1s;
  cursor: pointer;
}

#control-panel > button:hover:enabled {
  border-color: rgb(157, 180, 36);
}

@media (hover: hover) {
  #control-panel > button:hover:enabled {
    margin-top: 0px;
  }
}

#control-panel > button:disabled {
  background-color: rgb(29, 30, 23);
  border-color: rgb(114, 124, 74);
  cursor: initial;
  color: var(--disabled-text-color);
}

#story-info-list {
  margin-bottom: auto;
}

#directory-settings {
  padding: 10px;
}

#moderation-div {
  margin: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#sidebar > hr {
  margin-left: -16px
}

#login-form > label, #register-form > label {
  font-size: 16px;
  display: flex;
  flex-direction:column;
  margin-bottom: 10px;
}

#page-nav {
  margin: 5px;
  margin-right: 20px;
}

.nav-dock {
  position: absolute;
  top: 100%;
  left: 10px;
  gap: 5px;
  width: max-content;
  z-index: 2;
  display: flex;
  opacity: 0%;
}

.nav-dock > a {
  cursor: pointer;
}

.story-msg:hover + .nav-dock, .action-msg:hover + .nav-dock, .nav-dock:hover {
  opacity: 100%;
}

.msg-wrapper {
  position: relative;
}

.osu-player {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 4px solid rgb(40, 45, 39);
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#osu-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 8px solid rgb(40, 45, 39);
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.osu-player:last-child {
  border-bottom-width: 16px;
}

.leaderboard-rank {
  width: 90px;
  margin-left: 10px;
}

.leaderboard-skill {
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

#osu-player-list {
  display: flex;
  flex-direction: column;
}

#osu-settings {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

#osu-settings > select {
  flex-shrink: 0;
}

#osu-settings > input {
  flex-basis: 150px;
}

#osu-about {
  opacity: 50%;
  margin: 10px;
  margin-bottom: 0px;
}

#osu-blurb {
  margin: 10px;
  margin-bottom: 0px;
}

#osu-nav > a:visited {
  color: var(--text-color);
}

#osu-nav > a[href]:hover {
  color: rgb(182, 182, 182);
}

#osu-nav > a[href]:active {
  color: rgb(182, 182, 182);
}

#osu-nav > .active-page:visited, .active-page {
  color: rgb(128, 157, 19);
}

.leaderboard-username:visited {
  color: var(--text-color);
}

#osu-nav {
  flex-basis: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #center-div {
    border: none;
  }
  #title-header > p {
    font-size: 24px;
  }
}






/* Homepage */

#project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Osu ranker */




/* Adventure-database */

@media only screen and (max-width: 600px) {
  .story-msg {
    margin-right: 0%
  }
  .action-msg {
    margin-left: 0%
  }
}