
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --title-header-height: 60px;
  --bright-grey: rgb(202, 202, 202);
  --text-color: rgb(241, 241, 241);
}






body {
  background-color: rgb(22, 22, 22);

  color: var(--text-color);
  font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
  font-variant-numeric: oldstyle-nums;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
}

#center-div {
  box-sizing: border-box;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  height: calc(100dvh - var(--title-header-height));
  border-left: 16px solid rgb(40, 45, 39);
  border-right: 16px solid rgb(40, 45, 39);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#messages-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 100px;
}

.story-msg {
  align-self: flex-start;
  border: 3px solid rgb(47, 136, 5);
  background-color: rgb(17, 27, 17);
  text-align: justify;
  margin-right: 20%;
  cursor: pointer;
}

.action-msg {
  align-self: flex-end;
  border: 3px solid rgb(209, 177, 33);
  background-color: rgb(32, 28, 22);
  text-align: right;
  margin-left: 20%;
}

#editing-messages-div > .action-msg, #editing-messages-div > .story-msg {
  border-style: dotted;
  cursor: text;
}

#editing-messages-div > .action-msg:focus {
  outline: none !important;
  border-color: rgb(231, 203, 80);
}

#editing-messages-div > .story-msg:focus {
  outline: none !important;
  border-color: rgb(64, 173, 13);
}

#normal-messages-div, #editing-messages-div, #next-action-div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#normal-messages-div {
  margin-top: 0px;
  margin-bottom: 0px;
}

#next-action-div {
  margin-top: 10px;
  margin-bottom: 0px;
  min-height: 164px;
  flex-shrink: 0;
}


.story-msg:hover {
  border-color: rgb(64, 173, 13);
}

#next-action-div > .action-msg:hover, #editing-messages-div > .action-msg:hover {
  border-color: rgb(231, 203, 80);
}

#next-action-div > .action-msg {
  cursor: pointer;
}

#next-action-div:has(+ hr) {
  margin: 0px;
  min-height: 0px;
}

#editing-messages-div {
  flex-basis: 164px;
  flex-shrink: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

#editing-messages-div:empty {
  margin: 0px;
  flex-basis: 0px;
}

.story-msg, .action-msg {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 32px;
  min-width: 20px;
  white-space: pre-wrap;
  scroll-margin-top: 100px;
  scroll-margin-bottom: 100px;
  min-height: 32px;
}

hr {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  max-height: 0px;
  color: var(--bright-grey);
  border-style:dashed;
  margin-top: 4px;
  margin-bottom: 4px;
}

#control-panel {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 0px;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 2;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-y: hidden;
}

#messages-div::before {
  content: "";
  background-image: linear-gradient(
    rgb(22, 22, 22), 
    rgba(22, 22, 22, 0) 6%,
    rgba(22, 22, 22, 0) 94%,
    rgb(22, 22, 22));
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  pointer-events: none;
}

#title-header {
  height: var(--title-header-height);
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  display: flex;
  background-color: rgb(56, 52, 47);
}

#title-header > p {
  color: var(--text-color);
  
  font-weight: 600;
  
  
  font-size: 30px;
  text-overflow: ellipsis;
  text-transform: capitalize;
  margin: auto;
  overflow: hidden;
  align-self: center;
  padding-right: var(--title-header-height);
  text-align: center;
}

#title-header > a {
  width: var(--title-header-height);
}








#story-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;

  font-size: 20px;
  line-height: 32px;
  height: 100dvh;
}

.story-info {
  border-bottom: 4px solid rgb(40, 45, 39);
  padding: 10px;
}

.story-info:last-child {
  border-bottom-width: 16px;
}

#logo {
  max-width: 512px;
  width: calc(100% - 10px);
  aspect-ratio: 1 / 1;
  margin: auto;
  user-select: none;
}

#logo-div {
  width: var(--title-header-height);
  height: var(--title-header-height);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px;
}

[contenteditable="plaintext-only"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--text-color);
  animation: flickerAnimation 5s infinite;
  animation-timing-function: ease;
}

@keyframes flickerAnimation {
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}

#title-header > p[contenteditable="plaintext-only"]:focus {
  outline: none !important;
}

#story-list a:link {
  color: var(--text-color);
}

#story-list a:visited {
  color: var(--bright-grey);
}

#story-list a:hover {
  color: rgb(182, 182, 182);
}

#story-list a:active {
  color: rgb(182, 182, 182);
}

*::selection {
  background-color: rgb(209, 177, 33);
}

#directory-settings {
  border-bottom: 16px solid rgb(40, 45, 39);
}

#messages-div > :first-child {
  margin-top: calc(100dvh - var(--title-header-height) - 370px);
}

#open-button {
  color: var(--text-color);
  font-size:60px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 27px;
  user-select: none;
}

#open-button:hover {
  color: rgb(182, 182, 182);
}

#sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: rgb(74, 70, 58);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

#sidebar > a {
  color: var(--text-color);
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  white-space: pre;
  cursor: pointer;
}

#sidebar a:hover {
  color: rgb(182, 182, 182);
}

#sidebar > #close-button {
  font-size: 50px;
  position: absolute;
  padding-top: 5px;
  top: 0;
  right: 23px;
  user-select: none;
}

#center-div > p {
  color: var(--text-color);
  font-size: 30px;
  text-overflow: ellipsis;
  margin: auto;
  text-align: center;
}

#notification-div {
  z-index: 3;
  left: 0px;
  right: 0px;
  /* transform:translate(-50%, 0%); */
  position: absolute;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
  pointer-events: none;
  margin-top: 30px;
  /* display: none; */
}

.info-notif, .warning-notif {
  color: var(--text-color);
  text-align: justify;
  
  
  
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 32px;
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  
  transition:
    opacity 1.0s,
}

.info-notif {
  border: 3px solid rgb(243, 220, 11);
  background-color: rgb(167, 124, 8);
}

.warning-notif {
  border: 3px solid rgb(243, 38, 11);
  background-color: rgb(167, 8, 8);
}

#control-panel > button {
  background-color: rgb(29, 32, 20);
  border: 3px solid rgb(128, 157, 19);

  color: var(--text-color);
  text-align: justify;
  
  
  
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 32px;
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 10px;
  transition: margin-top 0.1s;
  cursor: pointer;
}

@media (hover: hover) {
  #control-panel > button:hover {
    margin-top: 0px;
  }
}

#control-panel > button:active {
  filter: brightness(90%);
}

#story-info-list {
  margin-bottom: auto;
}

select {
  background-color: rgb(29, 32, 20);
  border: 3px solid rgb(128, 157, 19);
  color: var(--text-color);
  text-align: justify;
  
  
  
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 32px;
  min-width: 20px;
  white-space: pre-wrap;
  min-height: 32px;
  cursor: pointer;
}

#directory-settings {
  padding: 10px;
}

#moderation-div {
  margin: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .story-msg, .action-msg {
    font-size: 18px;
    line-height: 28px;
  }
  .story-msg {
    margin-right: 0%
  }
  .action-msg {
    margin-left: 0%
  }
  #title-header > p {
    font-size: 26px;
  }
  #center-div {
    border: none;
  }
}